/* Write your CSS here */
.list-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  color: #fff;
  margin: 10px;
}.image-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.event-img {
  height: 200px;
  width: 330px;
}
.list-heading {
  font-size: 22px;
  margin: 3px 0px;
  font-weight: 500;
}
.list-para {
  font-size: 18px;
  margin: 3px 0px;
}
